* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
button,
select,
a,
div,
svg,
path {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3 {
  color: rgb(55, 55, 55);
}

body {
  font-family: "Lato", sans-serif;
}

h3,
h4 {
  font-weight: 400;
  color: rgb(99, 94, 94);
}

.App {
  transition: all 0.5s ease;
}

.library-active {
  margin-left: 30%;
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
